<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #home {
            background: #4e84c6;
            color: white;
            margin: 5px;
            padding: 5px;
        }
        #navContainer{
            padding:20px;
            background-color: yellow;
        }
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color:aliceblue;
        }
        #content{
            margin:10px;
        }
    </style>
</head>
<body>
    <nav>
        <div id="navContainer">
            <a id="home" asp-action="Index">Home</a>
        </div>
    </nav>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
