<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #baseBtn {
            background: #4e84c6;
            color: white;
            margin: 5px;
            padding: 5px;
        }
        #navContainer{
            padding:20px;
            background-color: yellow;
        }
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color:aliceblue;
        }
        #content{
            margin:10px;
        }
        button {
            border: dotted red 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 25px 10px;
            padding: 5px;
            -moz-transition: background-color 500ms ease-in 1s;
            -o-transition: background-color 500ms ease-in 1s;
            -webkit-transition: background-color 500ms ease-in 1s;
            transition: background-color 500ms ease-in .01s;
        }
        button:hover{
            background-color:yellow;
        }
      td{
          padding:5px;
      }
      thead{
          border:solid red 20px;
          border-radius:10px;
      }
    </style>
</head>
<body>
    <nav>
        <div id="navContainer">
            <a id="baseBtn" asp-action="Index">Home</a>
            <a id="baseBtn" href="/routes" target="_blank">Routes</a>
        </div>
    </nav>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
